<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Error occurred</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
</head>
<body>
<div class="container">
<div class="jumbotron" >
<h1 class="text-center"><i class="fa fa-frown-o"> </i>   Error occurred </h1>

<h2 class="text-center">An error has occurred. Please contact the administrator.</h2>
<p class="text-center"><a class="btn btn-primary" th:href="@{/home}"><i class="fa fa-home"></i>Go Home</a></p>
</div></div>
</body>
</html>